<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthShareUsageDescription</key>
	<string>Explain why the app requested permission to read samples from the HealthKit store.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Explain why the app requested permission to save samples to the HealthKit store.</string>
	<key>GIDClientID</key>
	<string>988111963445-df0iqtns8hbhhul9lgfqccapt3ptbgcl.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.988111963445-df0iqtns8hbhhul9lgfqccapt3ptbgcl</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
